@import "tailwindcss";

:root {
  --color-primary: #bda752;
  --color-secondary: #5b5b3f;
  --color-background: #ffffff;
  --color-text: #121212;
  --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
}

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-sans);
  }
}


